@using DynamoDbCRUDApp.ViewModels
@model RekognitionViewModel

<h2>CelebrityInfo</h2>
<table border="1">
    <tr>
        <th>Celebrity Name</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
</tr>
</table>