<<<<<<< 32d9abc822c052db022d491e907889fe53960eaf
﻿<a href="/Employee/AddNew">Add New</a>
&nbsp;
&nbsp;
<a href="/BulkUpload/Index">BulkUpload</a>
&nbsp;
<a href="/Employee/BulkUpload">BulkUploadNew</a>
=======
﻿<a  href="/Employee/AddNew">Add New</a>
>>>>>>> Day-6, HeaderFooterfilters and Custom Layouts
