<<<<<<< 32d9abc822c052db022d491e907889fe53960eaf
﻿@model MvcApplication2.ViewModels.EmployeeListViewModel
=======
﻿@using MvcApplication2.ViewModels
@model EmployeeListViewModel
>>>>>>> Day-6, HeaderFooterfilters and Custom Layouts
@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection{
    MyView
}

<<<<<<< 32d9abc822c052db022d491e907889fe53960eaf
@section ContentBody{
    <div>
=======
@section ContentBody{       
    <div>        
>>>>>>> Day-6, HeaderFooterfilters and Custom Layouts
        @{
            Html.RenderAction("GetAddNewLink");
        }
        <table border="1">
            <tr>
                <th>Employee Name</th>
                <th>Salary</th>
            </tr>
            @foreach (var item in Model.Employees)
            {
                <tr>
                    <td>@item.EmployeeName</td>
                    <td style="background-color: @item.SalaryColor">@item.Salary</td>
                </tr>
            }
        </table>
    </div>
<<<<<<< 32d9abc822c052db022d491e907889fe53960eaf
}
=======
}
>>>>>>> Day-6, HeaderFooterfilters and Custom Layouts
