<<<<<<< 32d9abc822c052db022d491e907889fe53960eaf
﻿@model MvcApplication2.ViewModels.FooterViewModel

<div style="background-color: silver; border: 1px solid gray; color: darkcyan; margin-top: 2px; padding-right: 10px; text-align: right;">

    @Model.CompanyName &copy; @Model.Year
=======
﻿@using MvcApplication2.ViewModels

@model FooterViewModel

<div style="text-align:right;background-color: silver;color: darkcyan;border: 1px solid gray;margin-top:2px;padding-right:10px;">

   @Model.CompanyName &copy; @Model.Year
>>>>>>> Day-6, HeaderFooterfilters and Custom Layouts

</div>